@model newRepo.Models.User

@{
    ViewData["Title"] = "Assets Management";
}

<h2>Asset </h2>

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Id)
</dt>
<dd class="col-sm-2">
    @Html.DisplayFor(model => model.Id)
</dd>

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Name)
</dt>
<dd class="col-sm-2">
    @Html.DisplayFor(model => model.Name)
</dd>

<a asp-action="Add" asp-controller="Add" class="btn btn-secondary">
    Add
</a>
<br /><br /><br />
<table class="table">
    <thead>
        <tr>
                <th>
               <a>Id</a>
                </th>
                <th>
                   <a>Type </a>
                </th>
                <th>
                  <a>Name</a>>
                </th>            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PropertyInfos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

